.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 24px;
  box-sizing: border-box;
}

.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.page-label {
  text-align: center;
  margin-bottom: 4px;
  font-weight: 600;
  color: var(--color-secondary);
}

.page-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.announcement-container { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex-direction: row;
  height: 60px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  box-sizing: border-box;
}

.announcement-title { 
  font-size: 1rem; 
  font-weight: 700; 
  color: var(--color-secondary); 
}

.announcement-content { 
  vertical-align: top;
  font-size: 1rem; 
  width: auto; 
}

