.content-box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px 80px 100px;
  gap: 24px;

  background: var(--color-white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-box h3 {
  font-size: var(--font-size-title);
  font-weight: bold;
  margin-bottom: 0px;
}

.content-box p {
  color: var(--color-text-subtext);
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-regular);
  margin: 0px;
}

input{
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 0px 16px;
    flex-grow: 1;
    height: 40px;
    border: none;
    outline: none;

    /* Placeholder */
    font-size: var(--font-size-regular);
    font-family: var(--font-family-base);
}

.content-box a{
  text-decoration: none;
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-regular);
  margin: 0px;
}

.content-box.dashboard-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 260px;
  height: 300px;
  padding: 20px;
}

.content-box.dashboard-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}