.content-box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 60px 100px 60px 100px;
gap: 40px;

background: var(--color-white);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 20px;

flex: none;
order: 0;
flex-grow: 0;
}
