.content-box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px 80px 100px;
  gap: 20px;

  background: var(--color-white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-box h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.content-box p {
  width: 225px;
  color: #555;
  font-size: 0.95rem;
  font-weight: 600;
  flex-grow: 1;
  text-align: center;
}

.content-box a:hover {
  background-color: var(--color-button-primary-hover);
}

.content-box.dashboard-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 260px;
  height: 300px;
  padding: 20px;
}

.content-box.dashboard-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}