.content-box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px 60px 100px;
  gap: 24px;

  background: var(--color-white);
  box-shadow: 2px 4px 12px #00000014;
  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-box h3 {
  color: var(--color-black);
  font-size: var(--font-size-title);
  font-weight: bold;
  margin: 0px;
  text-align: center;
  font-family: var(--font-family-base);
}

.content-box p {
  font-weight: var(--font-weight-regular);
  margin: 0px;
}

.subtext{
    margin: 0px;
    color: var(--color-text-subtext);
    font-size: var(--font-size-subtext);
}
.input-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}
.box-input{
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 0px 16px;
    flex-grow: 1;
    height: 40px;
    border: 1px solid var(--color-input-border);
    outline: none;

    /* Placeholder */
    font-size: var(--font-size-regular);
    font-family: var(--font-family-base);
}


input:focus{
   border: 2px solid var(--color-button-primary-default);
}

.content-box a{
  text-decoration: none;
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-regular);
  margin: 0px;
}

