.content-box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 100px 60px 100px;
  gap: 24px;

  background: var(--color-white);
  box-shadow: 2px 4px 12px #00000014;
  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-box h3 {
  color: var(--color-black);
  font-size: var(--font-size-title);
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

.content-box p {
  font-weight: var(--font-weight-regular);
  margin: 0px;
}

.content-box a:hover {
  background-color: var(--color-button-primary-hover);
}

.content-box.dashboard-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 260px;
  height: 300px;
  padding: 20px;
}

.content-box.dashboard-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
