.user-footer {
    display: flex;
    flex-direction: column;
    padding: 0px;

    background-color: var(--color-secondary);
}

.Top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;

    background: var(--color-secondary);

    flex: 1;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.footer-brand-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 543px;
    height: 120px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.footer-text, .footer-subtext{
    font-family: 'Inter', sans-serif;
    line-height: 1px;
    margin: 10px;
    color: #FFFFFF;
}
.footer-text{
    font-weight: bold;
    font-size: 20px;
}
.footer-subtext{
    font-size: 14px;
}
.footer-brand-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.footer-row-1{
    display: flex;
    width: 100%;
}
.footer-row-2{
    display: flex;
    flex-direction: row;
}
.footer-brand-information .footer-subtext, .footer-text{
    line-height: 10px;
}
.footer-brand-information #information {
    font-weight: bold;
}

.Bottom-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    padding: 10px;

    font-size: 14px;
    color: #555555;
    background: var(--color-tertiary);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}