.user-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    height: 60px;
    background-color: var(--color-tertiary);
}

.footer-text{
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: var(--font-size-small);
    color: #888888;
}