.user-footer {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;

    background-color: var(--color-tertiary);
}

.footer-text{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #888888;
}