.user-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    height: 60px;
    background-color: var(--color-secondary);
}
.brand-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 20px;
    gap: 10px;

    height: inherit;
    background: #333333;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.brand-text{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.header-text{
    font-family: var(--font-family-base);
    font-weight: bold;
    font-size: var(--font-size-regular);
    color: #FFFFFF;
}
.brand-logo {
    width: 40px;
    height: 40px;
}

#online{
    color: #F3D358;
}