.user-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    height: 60px;
    background-color: #EAEAEA;
    backdrop-filter: blur(5px);
}

.brand-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 20px;
    gap: 10px;

    text-decoration: none;

    height: inherit;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.brand-section:hover,
.brand-section:focus {
  text-decoration: none;
}

.brand-text{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.header-text{
    font-family: var(--font-family-base);
    font-weight: regular;
    font-size: var(--font-size-regular);
    color: var(--color-black);
}
.brand-logo {
    width: 40px;
    height: 40px;
}

#online{
    color: var(--color-black);
}