.request-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 100px;
    gap: 20px;

    width: 300px;

    background: var(--color-white);
    border-radius: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 1000;
}

.request-popup h3 {
  color: var(--color-button-destructive-default);
  font-size: var(--font-size-title);
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

.request-popup p {
  text-align: center;
}

.request-popup-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}
