.registrar-master-layout {
  height: 100vh;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.registrar-content-area {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.registrar-page-content {
  flex: 1; 
  overflow-y: auto; 
  padding: 20px; 
}

.registrar-header-container {
  padding: 20px 30px 0 30px;
}