.user-master-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;

  height: 100vh;
  background: #FFFFFF;
}

/* Header */
.user-header {
  height: 60px; /* fixed header height */
  flex-shrink: 0; /* don’t shrink */
  width: 100%;
  background: #f5f5f5; /* example background */
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Content area */
.user-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 0px 0px 60px 0px;
  width: 100%;

  background: var(--color-primary);

  /* Inside auto layout */
  flex: 1;
  order: 0;
  flex-grow: 1;
}

/* Footer */
.user-footer {
  height: 60px; /* fixed footer height */
  flex-shrink: 0; /* don’t shrink */
  width: 100%;
  background: #f5f5f5; /* example background */
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

