.user-master-layout{
display: flex;
flex-direction: column;
align-items: stretch;
padding: 0px;

min-height: 100vh;
background: #FFFFFF;

}
.user-content-area{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background: var(--color-primary);

    /* Inside auto layout */
    flex: 1;
    order: 0;
    flex-grow: 1;
}