.file-card {
    width: 300px;  /* adjust */
    height: 400px; /* adjust */
    background-color: blue;
    clip-path: polygon(
        0% 8%, 
        3% 0%, 
        70% 0%, 
        78% 3%, 
        98% 22%, 
        100% 28%, 
        100% 90%, 
        90% 100%, 
        10% 100%, 
        0% 90%
    );
}
