.requests-header{
    font-family: var(--font-family-base);
}

.requests-placeholder{
    color: grey;
}

.manage-requests-page{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: var(--font-family-base);
    gap: 20px;
}

.manage-requests-page .title{
    text-align: left;
}

.manage-requests-page .toolbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.manage-requests-page .filter-buttons-continer {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
}