.add-admin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-admin-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  gap: 20px;
  width: 400px;
  max-width: 90%;
  overflow: hidden;
}

.title {
  font-family: var(--font-family-base);
  font-size: 1.5rem;
  font-weight: 600;
  color: #343a40;
  text-align: center;
}

.box-input:focus {
  outline: none;
  border-color: #007bff;
}

.popup-error-section {
  margin-top: 10px;
}

.error-text {
  color: var(--color-destructive);
  font-size: 14px;
}

.action-section {
  display: flex;
  justify-content: flex-end;
}

.button-section {
  display: flex;
  gap: 10px;
}

.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
