.requirements-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.req-search-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.req-search-bar-container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 12px;
    gap: 24px;

    border-radius: 50px;

    background-color: var(--color-white);
    box-shadow: 2px 4px 12px #00000014;

    width: 100%;

}