/* text and input sections */
.text-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-section .status-title{
   color: var(--color-black);
}

.text-section .subtext{
    color: var(--color-text-subtext);
    font-size: 14px;
    margin: 0px;
    max-width: 450px;
    align-self: center;
}

.text-section .tracking-number-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--color-text-black);
    font-size: 17px;
}

.text-section .tracking-number-section .number{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--color-secondary);
}

.text-section p{
    text-align: center;
    max-width: 450px;
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.id-input, .otp-input{
    text-align: center;
}

/* error section */
.error-section{
    display: flex;
    justify-content: center;
    height: 8px;
    width: 100%;
}

.error-text{
    color: var(--color-destructive);
    font-size: 10px;
    text-align: center;
    margin: 0px;
}

/* btn sections */
.action-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.button-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* support section */
.support-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

/* Track status body */

.status-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 450px;
    text-align: center;
}

/* claim option buttons */

.claim-options {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.claim-button {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    padding: 1rem;
    font-weight: bold;
    line-height: 1.2;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* "pick up at Registrar" button style */
.claim-button.pickup-button {
    background-color: var(--color-button-gray);
    color: var(--color-black);
}

.claim-button.pickup-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--color-button-gray);
    color: var(--color-black);
}

/* "delivery" button style */
.claim-button.delivery-button {
    background-color: var(--color-button-red);
    color: var(--color-white);
}

.claim-button.delivery-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--color-button-red);
    color: var(--color-white);
}
