.text-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-section .status-title{
   color: var(--color-black);
}

.text-section p{
    text-align: center;
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.id-input, .otp-input{
    text-align: center;
}

.error-section{
    display: flex;
    justify-content: center;
    height: 8px;
    width: 100%;
}

.error-text{
    color: var(--color-destructive);
    font-size: 10px;
    text-align: center;
    margin: 0px;
}

.action-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.button-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.support-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}


