.header-simple {
    background-color: var(--color-white);
    padding: 15px 15px; 
    margin-bottom: 30px;
    border-radius: 20px;
}

.header-simple h1 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--color-black);
    margin: 0; 
    padding: 0;
}

.header-content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 10px;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 15px; /* Spacing between elements */
}

.header-search {
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 0.9rem;
    width: 250px; /* Gives the search bar a defined width */
}

.header-search:hover,
.header-search:focus {
    /* ONLY change the border color, keeping the thickness (1px) the same. */
    border: 1px solid var(--color-red, #a41c2c); 
}

.header-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    
    display: flex; 
    justify-content: center;
    align-items: center; 
    
    width: 28px;
    height: 28px;

    position: relative; 
    
    padding: 0; 
    font-size: 0; 
    line-height: 0; 
}


.notification-icon {
    display: block; 
    color: #666; 
}

.user-profile-wrapper{
    display:flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px 5px 5px;

    transition: background-color 0.2s;
    border-radius: 20px;
}
.user-profile-wrapper:hover {
    background-color: #f0f0f0; 
}

.user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #a41c2c;
    color: var(--color-white);


    /* Placeholder text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}