.header-simple {
    background-color: var(--color-white);
    padding: 15px 15px; 
    margin-bottom: 30px;
    border-radius: 20px;
}

.header-simple h1 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--color-black);
    margin: 0; 
    padding: 0;
}

.header-content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 5px;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.search-input-wrapper {
    display: flex;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 20px;
    width: 250px; 

    padding: 0 10px;   
   
    overflow: hidden; 
    
    transition: border-color 0.2s;
}

.search-input-wrapper .search-icon{
    width: 24px; 
    height: 24px; 

    flex-basis: 24px;
    flex-shrink: 0;
    
    transition: opacity 0.3s ease-out, flex-basis 0.3s ease-out;
    margin-right: 8px;
}

.header-search {
    border: none; 
    padding: 0; 
    margin: 0; 
    
    width: 100%; 
    font-size: 0.9rem;
    outline: none; 
    background-color: transparent; 
    
}

.search-input-wrapper:hover,
.search-input-wrapper:focus-within {
    border: 1px solid var(--color-secondary); 
}

.search-input-wrapper:focus-within .search-icon {
    opacity: 0; 
    flex-basis: 0;  
    margin-right: 0;
}

.header-search:hover,
.header-search:focus {
    border: none; 
}

.notification-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    
    display: flex; 
    justify-content: center;
    align-items: center; 
    
    width: 28px;
    height: 28px;

    position: relative; 
    
    padding: 0; 
    font-size: 0; 
    line-height: 0; 
    margin-right: -2px;

    border-radius: 20px;
}

.header-icon-btn:hover{
    background-color: #f0f0f0;
    box-shadow: 0 0 0 12px #f0f0f0;
}

.notification-icon {
    display: block; 
}

.user-profile-wrapper{
    display:flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;

    transition: background-color 0.2s;
    border-radius: 20px;
}

.user-profile-wrapper:hover {
    background-color: #f0f0f0; 
}

.user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #a41c2c;
    color: var(--color-white);


    /* Placeholder text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
}

.user-name {
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--color-black);
    white-space: nowrap; 
}

.dropdown-menu {
    display: flex; 
    align-items: center;
    margin-left: 15px;
}