.header-simple {
    background-color: var(--color-white);
    padding: 20px 30px; 
    margin-bottom: 30px;
    border-radius: 20px;
}

.header-simple h1 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--color-black);
    margin: 0; 
    padding: 0;
}

.header-content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 10px;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 15px; /* Spacing between elements */
}

.header-search {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 0.9rem;
    width: 250px; /* Gives the search bar a defined width */
}

.header-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    
    display: flex; 
    justify-content: center;
    align-items: center; 
    
    width: 34px;    
    height: 34px;   
    
    position: relative; 
    
    padding: 0; 
    font-size: 0; 
    line-height: 0; 
}


.custom-icon {
    width: 24px; 
    height: 24px; 
    display: block; 
    color: #666; 
}

.user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #a41c2c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}