.text-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-section .liability-title{
   color: var(--color-secondary);
}

.text-section p{
    text-align: center;
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.id-input, .otp-input{
    text-align: center;
}

.error-section{
    display: flex;
    justify-content: center;
    height: 8px;
    width: 100%;
}

.error-text{
    color: var(--color-destructive);
    font-size: 10px;
    text-align: center;
    margin: 0px;
}

.action-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.button-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.support-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.forgot-id-link {
  background: none;
  border: none;
  color: #007bff; /* or whatever accent color you want */
  font-size: 0.95rem;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.forgot-id-link:hover {
  color: #0056b3; /* darker shade for hover effect */
}

.forgot-id-link:disabled {
  color: #aaa;
  cursor: not-allowed;
  text-decoration: none;
}



