.text-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-section .liability-title{
   color: var(--color-secondary);
}

.text-section p{
    text-align: center;
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.otp-input{
    text-align: center;
}

.error-section{
    padding: 0px 16px;
    display: flex;
    height: 8px;
    width: 100%;
}

.error-text{
    color: var(--color-destructive);
    font-size: 10px;
    text-align: center;
    margin: 0px;
}

.action-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.button-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.support-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
